$bgcolor: #eff0f7;
$maincolor: #FD0054;
$textcolor: #141414;
$imgshadow: #c7c7c7;
$headerfont: unbounded;
$textfont: archivo;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: $maincolor;
}
body{
    background-color: $bgcolor;
    overflow-x: hidden;
    color: $textcolor;
}

header{
    height: 120px;
    background-color: $maincolor;
    color: $bgcolor;
    font-family: $headerfont;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    #title{
        font-weight: 600;
        font-size: calc(20px + 1vw);
        text-align: center;
    }
}

footer{
    height: 90px;
    width: 100%;
    background-color: $textcolor;
    color: $maincolor;
    font-family: $headerfont;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;

    #title{
        font-weight: 600;
        width: 100%;
        text-align: center;
        font-size: calc(10px + 1vw);
        width: 100%;
    }

    #credits{
        font-weight: 300;
        text-align: center;
        font-size: calc(10px + .5vw);
        width: 100%;
    }
}

    

section{
    display: flex;
    justify-content: center;
    #loading{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 10px solid $textcolor;
        border-top: 10px solid $maincolor;
        animation: infinite linear loadinganimation 1s;
        position: fixed;
        top: 50%;
        left: 50%;
    }

    @keyframes loadinganimation{
        from{
            transform: translate(-50%,-50%) rotate(0deg);
        }
        to{
            transform: translate(-50%,-50%) rotate(360deg);
        }
    }

    #container{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

}

.row_ele{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: background-color .2s;

    $imgsize: 140px;

    .par_img{
        width: $imgsize;
        height: $imgsize;
        border-radius: 4px;
        box-shadow: 2px -2px 10px 1px $imgshadow, -2px -2px 10px 1px $imgshadow;
        margin-bottom: 8px;
    }

    .par_song{
        text-align: center;
        font-family: $textfont;
        font-weight: 400;
        font-size: 16px;
    }

    .par_arts{
        text-align: center;
        font-family: $headerfont;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 12px;
        margin-bottom: 3px;
        margin-top: 3px;
    }

    .par_rlsd{
        text-align: center;
        font-family: $headerfont;
        font-weight: 400;
        font-size: 12px;
        border-top: 1px solid $imgshadow;
        border-bottom: 1px solid $imgshadow;
        width: 100%;
        line-height: 16px;
        transition: border .2s;
    }
}
.row_ele:hover{
    background-color: #e5e6ee;
}
.row_ele:hover .par_rlsd{
    border-top: 1px solid $textcolor;
    border-bottom: 1px solid $textcolor;
}